<div class="jumbotron">
  <h1><i class="fa fa-circle-o-notch"></i> StuckDo</h1>
  <p>A to do list like no other. </br>
  Increase your productivity for free!</p>
  <p>
  <%= link_to "Sign Up", "#", class: "btn btn-primary btn-lg" %>
</div>